{% extends 'base.html.twig' %}

{% block title %}ComentarioImagen index{% endblock %}

{% block body %}
    <h1>ComentarioImagen index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Descripcion</th>
                <th>Created_at</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for comentario_imagen in comentario_imagens %}
            <tr>
                <td>{{ comentario_imagen.id }}</td>
                <td>{{ comentario_imagen.descripcion }}</td>
                <td>{{ comentario_imagen.createdAt ? comentario_imagen.createdAt|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('comentario_imagen_show', {'id': comentario_imagen.id}) }}">show</a>
                    <a href="{{ path('comentario_imagen_edit', {'id': comentario_imagen.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('comentario_imagen_new') }}">Create new</a>
{% endblock %}
